@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i|Roboto:300,300i,400,400i,500,500i,700,700i');

body, html {
    height: 100%;
}

body {
    font-family: Rubik, sans-serif;
    color: #313131;
    font-weight: 300;
    font-size: 100%;
}

.page_block {font-family: 'Raleway', sans-serif; font-size: 100%; color: #313131}
.page_block.type-root {padding: 40px 0; margin: 0px;}
.page_block.block_border_b {border-bottom: 1px solid #dedede}
.page_block:last-child {border:0}
